*{
  box-sizing: border-box;
  
}

.modal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scale(0);
  border:1px solid black;
  transition: 200ms ease-in-out ;
  z-index: 10;
  width: 500px;
  max-width: 80%;

  background-color: #fff;
  border-radius: 10px;
}

.modal.active{
  transform: translate(-50%,-50%) scale(1);

}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title{
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-header .close-button{
  cursor: pointer;
  border:none;
  outline: none;
  background-color: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding: 10px 50px;
}

#overlay{
  position: fixed;
  top: 0;
  transition: 200ms ease-in-out ;

  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  /* 隐藏的时候没有pointer-events */
  /* 也即透明度为0时可以点击 打开弹窗的按钮*/
  pointer-events: none;
}

#overlay.active{
  /* 显示的时候才用*/
  /* 也即有弹窗的时候无法点击打开弹窗的按钮 */
  pointer-events: all;
  opacity: 1;
}




